.tools-and-technology-section {
	text-align: left;
	padding: 25px;
	animation: slideup 0.5s forwards;
}

.tools-and-technology--header {
	display: inline-block;
}

.selector-buttons--row {
	float: right;
}

@media (max-width: 750px) {
	.selector-buttons--row {
		float: none;
		margin-left: -5px;
	}
}

@media (max-width: 550px) {
	.selector-buttons--row {
		display: flex;
		flex-direction: column;
	}
}
