:root {
	--panel-background: #313331;
	--panel-margins: 2.5%;
}

.panel-container {
	position: relative;
	padding-bottom: var(--panel-margins);
	padding-right: var(--panel-margins);
}

.panel-container h1 {
	text-align: center;
	font-size: 48px;
	margin-top: var(--panel-margins);
	margin-bottom: var(--panel-margins);
}

.title-bar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.self-picture {
	display: inline;

	flex-basis: 24rem;
	height: auto;

	min-width: 0;
	min-height: 0;

	margin-left: var(--panel-margins);
	margin-top: var(--panel-margins);
}

.title-text-box {
	flex: 1;
	flex-basis: 24rem;
	min-width: 0;
	max-width: 100%;
	max-height: 100%;
}

.panel {
	max-width: 100%;

	margin-top: var(--panel-margins);
	margin-left: var(--panel-margins);

	padding-bottom: 1.25%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 1.25%;

	border-radius: 0.5rem;

	background-color: var(--panel-background);
}

.panel h2 {
	font-size: 32px;
}

.panel p,
.panel span,
.panel li {
	word-break: break-word;
	white-space: normal;
	font-size: 24px;
}

.shadow {
	box-shadow: 0.8vh 0.8vh 0.5vh black;
}

.lone-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 90%;
	padding: 0.25%;
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
}

.image-row {
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
