.carousel {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.carousel-slide-left {
	animation: slideleft 0.5s forwards;
}
.carousel-slide-right {
	animation: slideright 0.5s forwards;
}

.carousel button {
	width: 50px;
	cursor: pointer;
	background-color: #2d2e2d;
	border-color: transparent;
	border-style: solid;
	border-radius: 10px;
	margin: 0;
}

.carousel button:hover {
	background-color: #3f3f46;
}

.carousel--heading {
	font-size: x-large;
	color: #4e9f3d;
	text-align: center;

	width: max-content;

	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;

	border-radius: 10px;
	background-color: #2d2e2d;
}
