.portfolio-item {
	margin: 5px;
	display: flex;
	gap: 10px;
}

.portfolio-item--info {
	flex-grow: 1;
	word-break: normal;
	word-wrap: normal;
}

.portfolio-item--heading {
	color: #4e9f3d;
	margin-top: 0;
}

.tech-used {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tech-used p {
	padding: 5px;
	border-radius: 10px;
	background-color: #3f3f46;
	color: #4e9f3d;
	margin: 5px;
	margin-left: 0px;
	margin-right: 10px;
}

.portfolio-item--links {
	min-width: fit-content;
	width: 175px;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	gap: 10px;
}

.portfolio-item--links-item {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	background-color: #2d2e2d;
	text-align: center;
	justify-content: center;
	flex-grow: 1;
}
