:root {
    /* Window Size */
    --windowHeight: 100vh;
    --windowWidth: 100vw;

    /* Header */
    --header-width: calc(var(--windowWidth) * .75);
    --header-height: calc(var(--windowHeight) * .04);
    --header-button-border-color: black;

    /* Colors */
    --main-bg-color: #282c34;
    --header-bg-color: green;
}

.App {
    position: static;
    background-color: var(--main-bg-color);

    text-align: center;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

.header-bar {
    position: absolute;
    background-color: var(--header-bg-color);
    
    width: 80%;
    height: 5%;

    /* width: 1440px;
    height: 54px; */
    
    top: 0px;
    left: 10%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-button {
    flex: 1;
    
    text-align: center;
    line-height: calc(var(--header-height) * .75);
    font-size: calc(var(--header-height) * .75);

    background-color: red;
    border: 2px solid var(--header-button-border-color);
    margin: 0 -1px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
