.container {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.background {
	top: 0;
	left: 0;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-color: green;
	position: absolute;
	z-index: -1;
}
