.container {
	width: 100vw;
	min-height: 100vh;
	position: relative;
	/* background-color: green; */
}

.background {
	top: 0;
	left: 0;
	min-height: 100vh;
	min-width: 100vw;
	height: 100%;
	width: 100%;
	background-color: red;
	position: absolute;
	z-index: -1;
}

.main-panel {
	position: relative;
	top: 0;
	background-color: blue;
	min-width: 75vw;
	min-height: 100vh;
	left: 12.5%;
	width: max(100vh, 75vw);
	margin: 0;
	padding: 0;
}

.panel-text {
	position: relative;
	width: 100%;
	word-wrap: break-word;
}

/* .picture {

} */
