.page-selector--active,
.page-selector--inactive {
	background-color: transparent;
	border-color: transparent;
	border-radius: 5px;
	cursor: pointer;
}

.page-selector--active {
	background-color: #3f3f46;
	color: white;
}

.page-selector--inactive {
	background-color: transparent;
	color: #a1a1aa;
}

.page-selector--inactive:hover {
	color: white;
}
