.about-me--middle-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.about-me-section {
	animation: slidedown 0.5s forwards;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: #2d2e2d;
	text-align: center;
	flex-grow: 1;
	max-width: 100vw;
}

.about-me-section h1,
.about-me-section h2 {
	margin: 0;
}
